.avatar-image {
    width: 11em;
    border-radius: 50%;
}

.card-title {
    padding-bottom: .5em;
}

.larger {
    font-size: 15px;
}

.border-column {
    border-color: black; 
    border-right: solid black;
    border-width: .01em; 
    border-color: lightgray;
    
}