input {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: auto !important;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 50%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  box-shadow: 10px black;
}

input:focus, select:focus{
  outline: none;
}

.submit-button:hover {
  color: "primary" !important;
  --background: black;
  
}
